# This template is for TI TMP100 I2C temperature sensor

record(ai, "$(P)$(R)$(N)Temperature_RBV")
{
   field(DTYP, "asynFloat64")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))TEMPERATURE")
   field(PREC, "1")
   field(SCAN, "I/O Intr")
}
